@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 1em;
    position: relative;
    transition: all 0.6s;
    color: #00aeff;
}

a:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: red;
    transition: all 0.3s;
}

a:hover {
    color: red;
}

a:hover:before {
    width: 100%;
    left: 0;
    background: red;
}

.img-link:hover:before {
    width: 0;
}

li {
    margin: 2px 0;
}

.links {
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    margin: auto;
}

label {
    margin: 10px 0;
}

input {
    padding: 5px;
}

.biography-input {
    resize: none;
}

.accept-container {
    margin: 10px 0;
}

.name-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 50px;
}

.email-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.name-email_container {
    display: flex;
    flex-direction: row;
}

.btn {
    min-width: 30%;
    margin: 10px auto;
}

@media screen and (max-width: 1025px) {
    body {
        font-size: 24px;
    }

    h1 {
        font-size: 36px;
    }

    input {
        font-size: 24px;
    }

    select {
        font-size: 24px;
    }

    textarea {
        font-size: 24px;
    }

    .name-email_container {
        flex-direction: column;
    }

    .name-container {
        width: 100%;
        margin-right: 0;
    }

    .email-container {
        width: 100%;
    }
}
